# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

*_BASE_*
*_LOCAL_*
*_REMOTE_*
*_MERGED_*
*_BACKUP_*
*.orig
